.App {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

canvas {
  background-color: black;
}

.Sidebar {
  height: -webkit-fill-available;
  width: 25%;
  background-color: #1a1a1a;
  color: white;
  border: 2px solid #141414;
  border-radius: 10px;
  margin: 5px;
}

select {
  height: 35px;
  background-color: black;
  color: white;
  font-size: large;
  margin: 5px;
  border: 2px solid #4a4a4a;
  border-radius: 5px;
  margin-left: 15px;
}

button {
  min-height: 35px;
  font-size: large;
  background-color: black;
  border-color: white;
  color: white;
  margin: 2px;
  border: 2px solid #4a4a4a;
  border-radius: 5px;
}

button:hover {
  background-color: #242424;
}

